<!DOCTYPE html>
<html>
<head>
    <title>Page d'accueil</title>
</head>
<body>
    <h1>Bienvenue sur notre site</h1>
    <p>Ceci est la page d'accueil de notre site Web.</p>
    <p><a href="/hello/John">Cliquez ici pour saluer John</a></p>
    <p><a href="/upload">Cliquez ici pour télécharger un fichier</a></p>
    <p><a href="/generate-pdf">Cliquez ici pour générer un PDF</a></p>
    <p><a href="/auth/login">Cliquez ici pour vous connecter</a></p>
    <p><a href="/logout">Cliquez ici pour vous déconnecter</a></p>
</body>
</html>
